<section class="hero">
  <img src="assets/images/banner.png" alt="Skechers The Uno">
</section>

<section class="featured-products">
  <h2>Sản Phẩm Nổi Bật</h2>

  <div class="product-list">
    <div routerLink ="/product-detail" class="product" *ngFor="let product of products.slice(0, 5)">
      <img [src]="product.image" [alt]="product.name">
      <p>{{ product.name }}</p>
      <p>{{ product.price | number }} đ</p>
    </div>
  </div>
</section>



<section class="promotion">
  <img src="assets/images/banner.png" alt="Jujutsu Kaisen Collection">
</section>

<app-cate-dm/>



 
