<header>
  <nav>
      <ul class="menu">
           <A routerLink="/"><img  src="assets/images/logo1.jpg" alt=""></A> 
         <a routerLink="/product" href=""><li>Phụ nữ</li></a> 
          <A routerLink="/"><li>Đàn ông</li></A>
          <li>Trẻ em</li>
          <li>Giảm giá</li>
          <li>Bộ sưu tập</li>
      </ul>
      <div class="icons">
          <span class="search-icon"></span>
          <span class="user-icon"></span>
          <span class="cart-icon"></span>
      </div>
  </nav>
</header>
