<body>
  <div class = "card-wrapper">
    <div class = "card">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img src = "../../../assets/images/nike/Nike Court Vision Low.png" alt = "shoe image">
            <img src = "../../../assets/images/nike/NIKE+COURT+VISION+LO (1).png" alt = "shoe image">
            <img src = "../../../assets/images/nikE/NIKE+COURT+VISION+LO (2).png" alt = "shoe image">
            <img src = "../../../assets/images/nike/NIKE+COURT+VISION+LO.png" alt = "shoe image">
          </div>
        </div>
        <div class = "img-select">
          <div class = "img-item">
            <a href = "#" data-id = "1">
              <img src = "../../../assets/images/nike/Nike Court Vision Low.png" alt = "shoe image">
            </a>
          </div>
          <div class = "img-item">
            <a href = "#" data-id = "2">
              <img src = "../../../assets/images/nike/NIKE+COURT+VISION+LO (1).png" alt = "shoe image">
            </a>
          </div>
          <div class = "img-item">
            <a href = "#" data-id = "3">
              <img src = "../../../assets/images/nike/NIKE+COURT+VISION+LO (2).png" alt = "shoe image">
            </a>
          </div>
          <div class = "img-item">
            <a href = "#" data-id = "4">
              <img src = "../../../assets/images/nike/NIKE+COURT+VISION+LO.png" alt = "shoe image">
            </a>
          </div>
        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
        <h2 class = "product-title">Giày Nike</h2>
        <a href = "#" class = "product-link">Được Kiểm Tra Hàng Trước Khi Thanh Toán</a>
        <div class = "product-rating">
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star"></i>
          <i class = "fas fa-star-half-alt"></i>
          <span>4.7(21)</span>
        </div>

        <div class = "product-price">
          <p class = "last-price">Giá Cũ: <span>2.000.000 VNĐ</span></p>
          <p class = "new-price">Giá Mới: <span>2.700.000 VNĐ</span></p>
        </div>

        <div class = "product-detail">
          <h2>THÔNG TIN SẢN PHẨM: </h2>
          <p>Với công nghệ đế giày BoomMAX giúp vận động viên tối ưu hiệu suất khi chạy bộ. Có thể chạy tốc độ pace 3 trở lên. Đây cũng là mẫu giày ứng dụng công nghệ tiên tiến nhất, phù hợp cho VĐV sử dụng trong những cuộc đua đường dài. Đôi NEO phù hợp với những người chạy lâu, luyện tập chuyên nghiệp, cự li dài, tốc độ nhanh. Hiện tại Goya Neo có 4 phiên bản màu sắc Neo đen, Neo trắng đen, Neo cam đỏ, Neo cam PX2</p>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.</p> -->
          <ul>
            <li>Màu Sắc: <span>Trắng</span></li>
            <li>Tình Trạng: <span>Trong Kho</span></li>
            <li>Thể Loại: <span>Giày Dép</span></li>
            <li>Khu Vực Vận Chuyển: <span>Việt Nam</span></li>
            <li>Phí Vận Chuyển: <span>Miễn Phí</span></li>
          </ul>
        </div>

        <div class = "purchase-info">
          <input type = "number" min = "0" value = "1">
          <button type = "button" class = "btn">
            Thêm Vào Giỏ Hàng <i class = "fas fa-shopping-cart"></i>
          </button>
          <button type = "button" class = "btn">Mua Ngay</button>
        </div>

        <div class = "social-links">
          <p>CHIA SẺ: </p>
          <a href = "#">
            <i class = "fab fa-facebook-f"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-twitter"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-instagram"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-whatsapp"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-pinterest"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

</body>

